:root {
    --base-color: rgb(238, 238, 238);
    --base-color-primary: #fff;
    --primary-color: rgb(73, 0, 1);
    --secondar-color: hotpink;
    --gray-color-light: rgb(202, 202, 202);
    --gray-color-dark: #915757;
    --button-primary-color: rgb(120, 134, 138);
    --button-secondary-color: rgb(58, 168, 228);
}

/* body styles */
body {
        font-family: 'Chalkduster', fantasy;
    }
    

* {
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header h1 {
    font-size: 15px;
    justify-content: flex-start;
    flex-grow: 1;
}

header {
    background-color: var(--primary-color);
    color: var(--base-color);
    display: flex;
    padding: 15px;
    box-shadow: 2px 2px 19px -5px var(--gray-color-dark);
}

.nav-link{
    color: var(--headings-color);
    font-size: 20px;
    transition: .25s;
    font-weight: bolder;
}
a .nav-link {
    display: flex;
    justify-content: flex-end;
}

/* Results stylings */

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 60%;
}

 .card-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
    
.card-body {
    border: 1px solid var(--gray-color-light);
    height: 250px;
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 2px 2px 6px -5px var(--gray-color-dark);
    padding: 10px;
    background-color: var(--base-color-primary);
}

/* Input field */

 input {
    border-radius: 5px;
    border: 1px solid var(--gray-color-light);
}

textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-color-light);
}

label {
    position: relative;
    width: 50%;
}


label:hover {
    cursor: pointer;
    
}
#AddExercise{
    padding: 10px 20px;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    margin: 12px;
    margin-top: .10rem!important;
    margin-bottom: .10rem!important;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
    display:inline block;
}

.btn:hover {
    background-color: var(--button-secondary-color);
}


/* Media queries styles */
@media only screen and (min-width: 768px) {
    header {
        padding: 20px;
    }
    header {
        padding: 10px;
    }
    h1 {
        font-size: 48px;
    }
    a .nav-link {
        display: flex;
        justify-content: flex-end;
    }
}