<script src="./js/workout.js" defer></script>

<div class="Container">
  <h2>Create a Workout</h2>
  <div class="workoutname">
    <label for="workout_name">Workout name</label>
    <input type="text" name="workout_name" id="workout_name" placeholder="workout_name" />
  </div>
    
    <div class="category">
      <label for="category">Category:</label>
      <input type="text" name="category" id="category" placeholder="" />
    </div>

  <label for="date">Date:</label>
  <input type="datetime-local" id="date"
       name="date" value="2021-09-16">
     {{!--   min="2021-06-07T00:00" max="2021-06-14T00:00"> --}}


  </div>
  <button type="submit" id="newWorkoutbtn" class="btn">Create New Workout</button>
</div>
<div class="Container">
     {{log 'this' this}}
   {{#each workout as |workout| }}
     {{> workout-info}}
   {{/each}}
</div>


//<script src="./js/workout.js"></script>
