<div class="Container">
  <h2>Create a Workout</h2>
  <div class="workoutname">
    <label for="workout_name">Workout name</label>
    <input type="text" name="workout_name" id="workout_name" placeholder="workout_name" />
  </div>

  <div class="excercise">
    <label for="excercise">Excercise</label>
    <input type="text" name="excercise" id="excercise" placeholder="excercise" />

    <div class="category">
      <label for="category">category:</label>
      <input type="text" name="category" id="category" placeholder="" />
    </div>

    <div class="equipment">
      <label for="equipment">equipment:</label>
      <input type="text" name="equipment" id="equipment" placeholder="" />
    </div>

    <div class="type">
      <label for="type">type:</label>
      <input type="text" name="type" id="type" placeholder="" />
    </div>

    <div class="muscle">
      <label for="type">muscle:</label>
      <input type="text" name="muscle" id="muscle" placeholder="" />
    </div>

    <div class="sets">
      <label for="sets">Sets:</label>
      <input type="number" name="sets" id="sets" placeholder="4" />
    </div>

    <div class="reps">
      <label for="reps">Reps:</label>
      <input type="number" name="reps" id="reps" placeholder="10" />
    </div>

    <div class="weight">
      <label for="weight">weight:</label>
      <input type="number" name="weight" id="weight" placeholder="10" />
    </div>

    <div class="distance">
      <label for="reps">distance:</label>
      <input type="number" name="distance" id="distance" placeholder="10" />
    </div>

    <div class="duration">
      <label for="duration">duration:</label>
      <input type="number" name="duration" id="duration" placeholder="10" />
    </div>


  </div>
  <button type="submit" id="newWorkoutbtn" class="btn">Create new workout</button>
</div>


<script src="./js/workout.js"></script>
