<header>

        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
              <strong>Album</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>
      
      <main>
      
        <section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light">My Exercises</h1>
              <p class="lead">Develop, create, and master your workouts. Now with just the tap of a button.</p>
              <p>
                <a href="#" class="btn btn-primary my-2">Create</a>
                
              </p>
            </div>
          </div>
        </section>
      
        <div class="album py-5 bg-light">
          <div class="container">
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
                <div class="card shadow-sm">
              
      
                  <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Small button
                            </button>

                            <a href="#" class="btn btn-secondary my-2">Delete</a>
                            
                    <div class="dropdown-menu">
                                
</div>
       
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button
                                </button>
                                <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button
                                </button>
                                <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
      
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button
                                </button>
                                <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button</button>
                                  <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button</button>
                                  <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button</button>
                                  <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button</button>
                                  <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
              <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Small button</button>
                                  <a href="#" class="btn btn-secondary my-2">Delete</a>
                        <div class="dropdown-menu">
                                    
    </div>
           
                        </div>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </main>
</body>
</html>


<script src="./js/workout.js"></script>




