  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Exercises</h1>
        </p>
      </div>
    </div>
  </section>

    <div class="container"></div>
  <div class="bg-light">
      {{> exercise-info }}
    </div>
  </div>


  {{!-- <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Save
    </button>

    <a href="#" class="btn btn-secondary my-2">Delete</a>

    <div class="dropdown-menu">

    </div> --}}
