
<link href="heroes.css" rel="stylesheet">
  </head>
  <body>
    
<main>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to Fitlist</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4"></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/profile">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Profile</button>
        </a>
        <a href="/createworkout">
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Create Workout</button>
        </a>
      </div>
    </div>
  </div>
